@import "_font.scss";
@import "_var.scss";
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    // overflow: hidden;
}

// * {
//     overflow: hidden;
// }
::-webkit-scrollbar {
    display: none;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.loading {
    background-color: red;
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: green;
}